nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 20px 20px;
    max-height: 1em;
  }
 
nav div#icon {
    max-width: 25%;
}

img {
    width: 25%;
    display: flex;
    align-self: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
}

nav ul li {
    display: flex;
    width: 25%;
    justify-self: flex-end;
    list-style: none;
}
  
  nav ul li a {
    color: #333;
    font-family: "armada-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #0088cc;
  }