/* 
colors:
blue: #293F94
yellow: #FDDF4F
green: #459F55
red: #DA3832
grey: #D1D3D4
black
white
*/

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html  {
  background-repeat: repeat;
  background-size: 20%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

div#pageContent {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  margin: 0;
  width: 100%;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

nav img {
  display: flex;
  max-width: 150px;
  float: left;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  color: #333;
  font-family: "armada-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #0088cc;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

img#banner {
  width: 100%;
  margin: 0;
}

h1 {
  font-family: apotek-extracond, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-family: "armada-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  /* text-shadow: 2px 2px 3px black; */
}

p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #DA3832;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #293F94;
}

/* About section -------------------------------------------- */

section#about {
  background-color: #D1D3D4;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

section#about p {
  text-indent: 5%;
}

/* Project section styles ------------------------------------*/

section#projects {
  background-color: #D1D3D4;
  padding: 50px;
}

.project {
  margin-bottom: 50px;
}

.project img {
  max-width: 100%;
  float: right;
  height: auto;
  margin-bottom: 20px;
}

.project img#weberState {
  width: 25%;
}

.project p {
  width: 75%;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}


/* Contact section styles ------------------------------------*/

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #459F55;
}

button[type="submit"] {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #DA3832;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #293F94;
}

footer p {
  font-family: "roboto", sans-serif;
  text-align: center;
  margin: auto 0;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: black;
}