@charset "utf-8";
/* 
colors:
blue: #293F94
yellow: #FDDF4F
green: #459F55
red: #DA3832
grey: #D1D3D4
black
white
*/

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html  {
  background-repeat: repeat;
  background-size: 20%;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Fonts Set Here ----------------------------------------- */

p, footer p, .btn, button[type="submit"], label {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* Main Page */

header {
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  margin: 0;
  width: 100%;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 20px;
  max-height: 1em;
}

nav div#icon {
  max-width: 25%;
}

img {
  width: 25%;
  display: flex;
  align-self: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
}

nav ul li {
  display: flex;
  width: 25%;
  justify-self: flex-end;
  list-style: none;
}

nav ul li a {
  color: #333;
  font-family: "armada-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #0088cc;
}

/* Website Banner ------------------------------------------------------------*/

img#banner {
  width: 100%;
  margin: 0;
}

/* Main article section ------------------------------------------------------*/

div#pageContent {
  margin-left: 20px;
  margin-right: 20px;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

h1 {
  font-family: apotek-extracond, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-family: "armada-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

footer p {
  text-align: center;
  margin: auto 0;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: black;
}

/* BUTTON STYLES -------------------------------------------------------------*/

.btn, button[type="submit"] {
  line-height: 1.5;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #DA3832;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover, button[type="submit"]:hover {
  background-color: #293F94;
}

/* Section styles-------------------------------------------- */

section {
  background-color: #D1D3D4;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

section p {
  text-indent: 5%;
}

/* Project section styles ------------------------------------*/

section#projects {
  background-color: #D1D3D4;
}

.project {
  margin-bottom: 50px;
}

.project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  width: 75%;
}

.project figure {
  display: block;
  float: right;
  width: 25%;
  margin-bottom: 20px;
}

.project figure img {
  width: 100%;
  float: right;
}

.project figcaption {
  float: right;
  font-size: .5em;
  text-align: center;
}


/* Contact section styles ------------------------------------*/

section#contact {
  background-color: transparent;
  text-indent: 0;
  padding: 0;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #459F55;
}